html, 
body {
    height: 100%;
}
body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-repeat: no-repeat;
  position: relative;
  background: linear-gradient(rgba(202, 84, 33, 0.83), rgb(54, 103, 85));
}
/*-------- Start Banner Area ------------*/
.banner-area {
  background-size: cover;
}

.banner-area .overlay-bg {
  background: rgba(4, 9, 30, 0.4);
}

@media (max-width: 767px) {
  .banner-area .fullscreen {
    height: auto !important;
  }
}

.banner-left h6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
}

.banner-left h1 {
  margin: 20px 0;
  font-size: 60px;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .banner-left h1 {
    font-size: 40px;
  }
}

@media (max-width: 413px) {
  .banner-left h1 {
    font-size: 33px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .banner-left h1 {
    font-size: 36px;
  }
  .banner-left h6 {
    font-size: 12px;
  }
}

.banner-left p {
  margin: 20px 0px;
}

.banner-left .primary-btn {
  background: #f8b600;
}

.banner-left .primary-btn:hover {
  background: #222;
  color: #fff;
}

@media (max-width: 767px) {
  .banner-left {
    margin-top: 120px;
    margin-bottom: 60px;
  }
}

.banner-right .nav-tabs {
  border-bottom: none;
}

.banner-right .nav-item {
  background: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  margin-right: 1px;
}

.banner-right .nav-item a {
  color: #fff;
}

.banner-right .nav-item:hover a {
  border-color: transparent !important;
}

.banner-right .nav-tabs .nav-link {
  border-radius: 0 !important;
}

.banner-right .tab-content {
  background: #fff;
}

.banner-right .form-wrap {
  padding: 40px 30px;
  text-align: center;
}

.banner-right .form-wrap .form-control {
  padding: 0.675rem 0.75rem;
  font-size: 13px;
  font-weight: 300;
  border-radius: 0px;
  margin-bottom: 10px;
  border-color: #eee;
}

.banner-right .form-wrap .form-control:focus {
  box-shadow: none;
}

@media (max-width: 1524px) {
  .banner-right {
    margin-top: 90px;
  }
}
@media (max-width: 1024px) {
  .banner-right {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .banner-right {
    padding-bottom: 50px;
  }
}

/*-------- End Banner Area ------------*/

.primary-btn {
  background: #c57048;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}